h1, h2, h3, h4, h5, p, a, li{
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    overflow-x: hidden;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.contact-page{
	padding-top: 15vh;
	height: 87vh;
}
.sport-page{
	padding-top: 60px;
}